@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

/* #nav-header {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.67);
  position: fixed;
  width: 100%;
} */

.cover-page {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./splash_background_v3.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
.cover-page h1 {
  font-size: 10rem;
  color: white;
  /* text-shadow: 0 0 5px #00000007; */
}

body {
  background-color: rgb(255, 248, 241);
}

.cover-page > p {
  text-align: center;
  width: 50ch;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2;
  text-shadow: 0 0 2px #000000;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 0.5em;
}

.content-page {
  height: 95vh;
  width: 100%;
  display: flex;
}

.header-dropdown {
  border: none;
  background-color: transparent;
  width: auto;
  white-space: nowrap;
  /* appearance: none; */
}
