@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

section {
  scroll-behavior: smooth;
}

#nav-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  align-self: center;
  margin: 0 2rem;
  height: 3rem;
  padding-top: 0.75rem;
  background-color: transparent;
  /* background-color: rgba(0, 0, 0, 0.67); */
  position: sticky;
  top: 0px;
}

#nav-header > a {
  border-radius: 50%;
  padding-left: 1rem;
  height: 2rem;
  opacity: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-header > a:hover {
  transform: scale(1.1);
  transition: all ease 500ms;
}

.header-icon {
  border-radius: 50%;
}

.cover-container {
  height: 100vh;
  background-image: url("./splash_background_v3.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.cover-page {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}
.cover-page h1 {
  font-size: 10rem;
  color: white;
  text-shadow: 0 0 5px #00000053;
}

body,
#content-header {
  background-color: rgb(251, 246, 240);
}

.cover-page > p {
  text-align: center;
  width: 52ch;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  text-shadow: 5px 5px 20px #000000;
  margin-bottom: 4em;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.content-container {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.3rem;
}

#content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4em 0;
  height: 3rem;
  position: sticky;
  top: 0px;
  font-family: "DM Serif Display", serif;
  font-size: 2.3rem;
  -webkit-box-shadow: 0 6px 10px rgba(57, 63, 72, 0.03);
  -moz-box-shadow: 0 6px 10px rgba(57, 63, 72, 0.03);
  box-shadow: 0 6px 10px rgba(57, 63, 72, 0.03);
  margin-bottom: 2rem;
}

.header-dropdown {
  border: none;
  background-color: transparent;
  width: auto;
  white-space: nowrap;
  outline: none;
  padding: 0;
  padding-left: 0.5rem;
  font-family: "DM Serif Display", serif;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}

.header-dropdown:active {
  font-size: 1rem;
}

.header-dropdown:hover {
  cursor: pointer;
}

#scroll-to-start {
  text-decoration: none;
  border-radius: 20px;
  padding: 0.8em;
  background-color: lightgray;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  background-color: rgba(40, 40, 40, 0.923);
  -moz-box-shadow: 5px 6px 10px rgba(57, 63, 72, 0.2);
  box-shadow: 5px 6px 10px rgba(57, 63, 72, 0.2);
}

#scroll-to-start:hover {
  transform: scale(1.1);
  transition: all ease 500ms;
}
