@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

/* #nav-header {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.67);
  position: fixed;
  width: 100%;
} */

.cover-page {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./splash_background_v3.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
.cover-page h1 {
  font-size: 10rem;
  color: white;
  /* text-shadow: 0 0 5px #00000007; */
}

body,
#content-header {
  background-color: rgb(251, 246, 240);
}

.cover-page > p {
  text-align: center;
  width: 50ch;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2;
  text-shadow: 0 0 2px #000000;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

#content-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em 0;
  height: 3rem;
  position: sticky;
  top: 0px;
  font-family: "DM Serif Display", serif;
  font-size: 2.5rem;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.02);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.02);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.02);
  margin-bottom: 2rem;
}

.content-container {
  /* height: 100vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-dropdown {
  border: none;
  background-color: transparent;
  width: auto;
  white-space: nowrap;
  outline: none;
  padding: 0;
  padding-left: 0.5rem;
  font-family: "DM Serif Display", serif;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}

.header-dropdown:active {
  font-size: 1rem;
}

.header-dropdown:hover {
  cursor: pointer;
}
