path {
  stroke: #fff;
  stroke-width: 0.5;
  stroke-dasharray: 1;
  fill: #afafaf;
}

#neighborhoodPopover {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: #fff;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
}
